@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Comic Neue", cursive;
}

@font-face {
  font-family: PinkyUnicorn;
  src: url("./assets/font/Pinky\ Unicorn.ttf");
}
:root {
  /*FONT--SIZES*/
  --font-xs: 16px;
  --font-xsm: 18px;
  --font-sm: 20px;
  --font-xmd: 22px;
  --font-md: 25px;
  --font-lg: 35px;
  --font-xl: 40px;
  --font-xxl: 70px;
  /*COLORS*/
  --black: #212121;
}

/* ================= MEDIA QUERISE FONT ======================= */
@media (max-width: 1399.98px) {
  :root {
    --font-xs: 16px;
    --font-xsm: 18px;
    --font-sm: 20px;
    --font-xmd: 22px;
    --font-md: 24px;
    --font-lg: 32px;
    --font-xl: 36px;
    --font-xxl: 60px;
  }
}
@media (max-width: 1199.98px) {
  :root {
    --font-xs: 16px;
    --font-xsm: 18px;
    --font-sm: 20px;
    --font-xmd: 22px;
    --font-md: 24px;
    --font-lg: 30px;
    --font-xl: 32px;
    --font-xxl: 50px;
  }
}
@media (max-width: 991.98px) {
  :root {
    --font-xs: 16px;
    --font-xsm: 18px;
    --font-sm: 20px;
    --font-xmd: 22px;
    --font-md: 23px;
    --font-lg: 28px;
    --font-xl: 30px;
    --font-xxl: 40px;
  }
}
@media (max-width: 767.98px) {
  :root {
    --font-xs: 16px;
    --font-xsm: 18px;
    --font-sm: 20px;
    --font-xmd: 22px;
    --font-md: 23px;
    --font-lg: 26px;
    --font-xl: 28px;
    --font-xxl: 38px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --font-xs: 14px;
    --font-xsm: 16px;
    --font-sm: 18px;
    --font-xmd: 20px;
    --font-md: 22px;
    --font-lg: 24px;
    --font-xl: 25px;
    --font-xxl: 35px;
  }
}

/* ======================FONT SIZES ======================== */
.font-xxl {
  font-size: var(--font-xxl) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-xmd {
  font-size: var(--font-xmd) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-xsm {
  font-size: var(--font-xsm) !important;
}

.font-xs {
  font-size: var(--font-xs) !important;
}

/* ======================= FONT WEIGHT============================== */

.fw-normal {
  font-weight: 400 !important;
}

/*COLORS====================CLASSES*/

.black {
  color: var(--black) !important;
}

/* ================COMMON CLASSES =========================== */

.main_heading {
  font-size: var(--font-xxl);
  font-weight: normal;
  font-family: PinkyUnicorn;
  /* border: 1px solid #000000; */
  color: var(--black);
}

.heading {
  font-size: var(--font-xl);
  font-weight: normal;
  font-family: PinkyUnicorn;
  color: var(--black);
}

.main_para {
  font-size: var(--font-xmd);
  font-weight: normal;
  color: var(--black);
}

.common_btn {
  font-size: var(--font-lg);
  font-weight: normal;
  font-family: PinkyUnicorn;
  background: linear-gradient(100.7deg, #b62aff -82.68%, #ff0df2 143.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.opacity_07 {
  opacity: 0.7;
}

/*TEAM=============SECTION==================START*/
.team_card_bg {
  background: rgba(255, 255, 255, 0.57);
  /* backdrop-filter: blur(164.191px); */
  border-radius: 25px;
  padding: 0 55px 20px;
  border: 1px solid #b62aff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.team_card_bg:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .team_card_bg {
    padding: 0px 25px 20px;
  }
}

.horse_img {
  margin-top: -38px;
}

.small_horse {
  margin-bottom: -50px;
  margin-bottom: -59px;
  margin-left: 177px;
}

/*FAQ=================SECTION==============CSS================START*/
.accordion-button {
  font-size: var(--font-xl);
  font-weight: normal;
  font-family: PinkyUnicorn;
  color: var(--black);
}

.accordion-body {
  font-size: var(--font-xmd);
  font-weight: normal;
  color: var(--black);
}

.accordion-button:not(.collapsed) {
  color: var(--black);
  background-color: transparent;
  box-shadow: none !important;
}

.accordion-button:focus {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

.accordion-item {
  background-color: transparent;
  border: none !important;
  margin-top: 20px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/image/faq/faq-icon-one.png");
}

.accordion-button::after {
  background-image: url("./assets/image/faq/faq-icon-two.png");
}

.border {
  opacity: 0.3;
  border: 1px solid #000000 !important;
  width: 70%;
}

/*FOOTER===============SECTION=============CSS==================START*/
.footer_icon {
  transition: all 0.4s ease-in-out;
}

.footer_icon:hover {
  transform: scale(1.04);
}
